<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Метод шифрування RSA.</h1>
                <h2>Лабораторна робота 2.</h2>
            </hgroup>
            <p>
				RSA — криптографічна система з відкритим ключем. RSA став першим алгоритмом такого типу, придатним і для шифрування і для цифрового підпису. Алгоритм використовується у великій кількості криптографічних застосунків.
            </p>
        </div>
    </section>
}

<p>
    <h3>
        Введіть числове повідомлення для шифрування:
    </h3> @Html.TextBox("Message")
    <input type="button" id="ButtonID" value="Шифрувати" />
</p>

<script type="text/javascript">
    $('#ButtonID').click(function () {
        var urlPost = "/Home/PostMessage";
        var message = $("#Message").val();
        $.post(urlPost, { Message: message }, function (data) {
        });
    })
</script>

<script type="text/jscript">
    $('#ButtonID').click(function () {
        var url = "/Home/Encrypt";
        var name = $('#Name').val();
        $.get(url, { input: name }, function (data) {
            $("#rData").html(data);
        });
    })
</script>

<p id="rData">
</p>