<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Метод шифрування RSA.</h1>
                <h2>Лабораторна робота 2.</h2>
            </hgroup>
            <p>
				RSA — криптографічна система з відкритим ключем. RSA став першим алгоритмом такого типу, придатним і для шифрування і для цифрового підпису. Алгоритм використовується у великій кількості криптографічних застосунків.
            </p>
        </div>
    </section>
}
<h3>Введіть числове повідомлення для шифрування:</h3>
@Html.TextBox("Message")
<input id="ButtonID" type="submit" value="Шифрувати" />

<script type="text/jscript">
    $('#ButtonID').click(function () {
        var url = "/Home/Encrypt";
        var input_message = $('#Message').val();
        $.get(url, { input: input_message }, function (data) {
            $("#rData").html(data);
        });
    })
</script>

<p id="rData">
</p>